# Base Settings
SPARKUI_CORE_BASE_URL=http://127.0.0.1:1911
SPARKUI_CORE_HOST=127.0.0.1
SPARKUI_CORE_PORT=1911
SPARKUI_CORE_DEBUG=true

# External API Keys
SPARKUI_CORE_CIVITAI_BASE=https://civitai.com/api/
SPARKUI_CORE_CIVITAI_KEY=civitai_key

# Database Settings
SPARKUI_CORE_DB_HOST=db
SPARKUI_CORE_DB_PORT=5432
SPARKUI_CORE_DB_NAME=sparkui
SPARKUI_CORE_DB_USER=sparkui
SPARKUI_CORE_DB_PASS=sparkui
SPARKUI_CORE_DB_SSL=false

# JWT Settings
SPARKUI_CORE_JWT_SECRET=secret
SPARKUI_CORE_JWT_EXPIRES=1h
SPARKUI_CORE_JWT_REFRESH_SECRET=refresh_secret
SPARKUI_CORE_JWT_REFRESH_EXPIRES=5d
