SPARKUI_CORE_BASE_URL=http://127.0.0.1:1911
SPARKUI_CORE_HOST=127.0.0.1
SPARKUI_CORE_PORT=1911
SPARKUI_CORE_DEBUG=true

SPARKUI_CORE_DB_HOST=db
SPARKUI_CORE_DB_PORT=5432
SPARKUI_CORE_DB_NAME=sparkui
SPARKUI_CORE_DB_USER=sparkui
SPARKUI_CORE_DB_PASS=sparkui
SPARKUI_CORE_DB_SSL=false
